@import "~bootstrap/scss/bootstrap";

$primary: #eeeee;
$secondary: #f5a213;

body {
    background-color: $primary;
}
.navbar-brand {
    background-color: $secondary;
}
.footer {
    background-color: $secondary;
}