@import "~bootstrap/scss/bootstrap";

$primary: #eeeeee;
$secondary: #f5a213;

body {
    background-color: #ffffff;
}
.navbar {
    background-color: $secondary;
}
.footer {
    background-color: $primary;
}