<footer class="footer text-center text-lg-start mt-auto ">
    <!-- Copyright -->
    <div class="text-center p-3">
        © 2020 Copyright :
        <a class="text-dark text-decoration-none">Wild Series</a>
    </div>
    <!-- Copyright -->
</footer>